<h1>Email Address Blocking Failed</h1>

<p>
    We're sorry, but no corresponding registration data was found in our database.
</p>
<p>
    This probably happened because we delete unconfirmed registrations after {{ timeLimitForOptInInHours }} hours. Or,
    if you received multiple emails from us, only the latest block link is valid.
</p>
<p>
    If you still feel this is an issue, please contact us directly.
</p>
