<h1>Email Address Blocked</h1>

<p>
    We've blocked your email address for any more newsletter registration opt in emails for the next
    {{ blockDurationInDays }} days.
</p>
<p>
    Sorry to have bothered you.
</p>
