{# blockedUntilDate \DateTimeImmutable #}

<h1>Newsletter Registration Confirmation Failed</h1>

<p>
    The email address "{{ emailAddress }}" has been blocked until {{ blockedUntilDate |date }}.
</p>
