{#
Intentially vague to prevent leaking user meta information, see
https://cheatsheetseries.owasp.org/cheatsheets/Authentication_Cheat_Sheet.html#authentication-and-error-messages
#}
<h1>Your Newsletter Registration</h1>

<p>
    We've sent you an email to {{ pendingOptIn.emailAddress }} with further instructions for your newsletter registration.
    If you don't receive it in a couple of minutes, please have a look in your spam folder.
</p>

<p>
    If your email address is not yet registered yet, please note that for privacy and spam protection reasons, we won't
    send any newsletters to {{ pendingOptIn.emailAddress }} until you've confirmed ownership of this email address.
    Please see the email for details on that.
</p>
